@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

:root{
  --blue:#df8a01;
  --black:#354046;
}

*{
  font-family: 'Roboto', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  border:none !important;
  outline: none !important;
  text-decoration: none !important;
  text-transform: capitalize;
  font-weight: 400;
  transition: all .2s linear;
}

*::selection{
  background:var(--black);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
}

section{
  overflow: hidden;
}

.button{
  height:3.5rem;
  width: 15rem;
  background:var(--blue);
  color:#fff;
  font-size: 1.7rem;
  text-transform: capitalize;
  border-radius: .5rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin:1rem 0;
}

.button::before{
  content: '';
  position: absolute;
  top: -100%; left: 0;
  height:100%;
  width: 100%;
  background-color:black;
  z-index: -1;
  transition: .2s linear;
}

.button:hover:before{
  top: 0%;
}

.button:hover{
  box-shadow: .1rem .5rem var(--blue),
              0 .3rem .5rem rgba(0,0,0,.3);
}

.heading{
  text-align: center;
  font-size: 4rem;
  padding:1rem;
  padding-top: 8rem;
  color:var(--black);
}

.heading span{
  color:var(--blue);
}

header{
  width:100%;
  position: fixed;
  top:0; left: 0;
  padding:1rem 5rem;
  z-index: 1000;
}

.header-active{
  background:#eee;
  box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
  padding: .5rem 1rem;
}

header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a{
  color:var(--black);
}

header a:hover{
  color:var(--blue);
}

header .container .logo{
  font-size: 2rem;
}

header .container .logo span{
  color:var(--blue);
}

header .nav ul{
  margin:0; padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

header .nav ul li{
  margin: 0 1rem;
}

header .nav ul li a{
  font-size: 1.5rem;
}

header .fa-bars{
  font-size: 3.5rem;
  color:var(--blue);
  cursor: pointer;
  display: none;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  

  a {
    text-decoration: none;
  }
  
  .txt-rt {
    text-align: right;
  }
  

  .txt-lt {
    text-align: left;
  }
  

  .txt-center {
    text-align: center;
  }
  
 
  .float-rt {
    float: right;
  }
  
 
  .float-lt {
    float: left;
  }
  
 
  .clear {
    clear: both;
  }
 
  .pos-relative {
    position: relative;
  }
  
 
  .pos-absolute {
    position: absolute;
  }
  
  
  .vertical-base {
    vertical-align: baseline;
  }
  
 
  .vertical-top {
    vertical-align: top;
  }
  
 
  nav.vertical ul li {
    display: block;
  }
  

  nav.horizontal ul li {
    display: inline-block;
  }
  

  img {
    max-width: 100%;
  }

  body {
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
  }
  
  h1 {
    font-size: 3em;
    text-align: center;
    color: rgb(19, 18, 18);
    font-weight: 100;
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
  }
  
  /*-- main --*/
  .main-w3layouts {
    padding: 3em 0 1em;
  }
  
  .main-agileinfo {
    width: 35%;
    margin: 3em auto;
    background: #eee;
    background-size: cover;
  }
  
  .agileits-top {
    padding: 3em;
  }
  
  input[type="text"], input[type="email"], input[type="password"] {
    font-size: 0.9em;
    color: rgb(0, 0, 0);
    font-weight: 100;
    width: 94.5%;
    display: block;
    border: none;
    padding: 0.8em;
    border: solid 1px rgba(1, 1, 1, 0.37);
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, rgb(0, 0, 0) 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, rgb(0, 0, 0) 4%);
    background-position: -800px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color:black;
    font-family: 'Roboto', sans-serif;
  }
  
  input.email, input.text.w3lpass {
    margin: 2em 0;
  }
  
  .text:focus, .text:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
  }
  
  .text:focus::-webkit-input-placeholder, .text:valid::-webkit-input-placeholder {
    color: rgba(11, 11, 11, 0.7);
    font-size: .9em;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
    visibility: visible !important;
  }
  
  :-ms-input-placeholder {
    color: black;
  }
  
 .submitbtn {
    font-size: .9em;
    color: rgb(11, 11, 11);
    background: #df8a01;
    outline: none;
    border: 1px solid #df8a01;
    cursor: pointer;
    padding: 0.9em;
    width: 100%;
    margin: 2em 0;
    letter-spacing: 4px;
  }
  
 .submitbtn:hover {
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
    background: black;
    color: white;
  }
  
  .agileits-top p {
    font-size: 1em;
    color: rgb(13, 13, 13);
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
  }
  
  .agileits-top p a {
    color: rgb(5, 5, 5);
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    font-weight: 400;
  }
  
  .agileits-top p a:hover {
    color: #df8a01;
  }
  
  /*-- //main --*/
  /*-- checkbox --*/
  .wthree-text label {
    font-size: 0.9em;
    color: black;
    font-weight: 200;
    cursor: pointer;
    position: relative;
  }
  
  input.checkbox {
    background: #df8a01;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
  }
  
  input.checkbox:before {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background: inherit;
    cursor: pointer;
  }
  
  input.checkbox:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid black;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  
  input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: black;
    border-top-color: transparent;
    border-right-color: transparent;
  }
  
  .anim input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: transparent;
    border-right-color: transparent;
    animation: .4s rippling .4s ease;
    animation-fill-mode: forwards;
  }
  
  @keyframes rippling {
    50% {
      border-left-color: rgb(15, 15, 15);
    }
  
    100% {
      border-bottom-color: rgb(14, 13, 13);
      border-left-color: rgb(15, 14, 14);
    }
  }
 
  
  @-webkit-keyframes square {
    0% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
      -moz-transform: translateY(-700px) rotate(600deg);
      -o-transform: translateY(-700px) rotate(600deg);
      -ms-transform: translateY(-700px) rotate(600deg);
      transform: translateY(-700px) rotate(600deg);
    }
  }
  
  @keyframes square {
    0% {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      -webkit-transform: translateY(-700px) rotate(600deg);
      -moz-transform: translateY(-700px) rotate(600deg);
      -o-transform: translateY(-700px) rotate(600deg);
      -ms-transform: translateY(-700px) rotate(600deg);
      transform: translateY(-700px) rotate(600deg);
    }
  }
  
  /*-- responsive-design --*/
  @media(max-width:1440px) {
    input[type="text"], input[type="email"], input[type="password"] {
      width: 94%;
    }
  }
  
  @media(max-width:1366px) {
    h1 {
      font-size: 2.6em;
    }
  
    .agileits-top {
      padding: 2.5em;
    }
  
    .main-agileinfo {
      margin: 2em auto;
    }
  
    .main-agileinfo {
      width: 36%;
    }
  }
  
  @media(max-width:1280px) {
    .main-agileinfo {
      width: 40%;
    }
  }
  
  @media(max-width:1080px) {
    .main-agileinfo {
      width: 46%;
    }
  }
  
  @media(max-width:1024px) {
    .main-agileinfo {
      width: 49%;
    }
  }
  
  @media(max-width:991px) {
    h1 {
      font-size: 2.4em;
    }
  
    .main-w3layouts {
      padding: 2em 0 1em;
    }
  }
  
  @media(max-width:900px) {
    .main-agileinfo {
      width: 58%;
    }
  
    input[type="text"], input[type="email"], input[type="password"] {
      width: 93%;
    }
  }
  
  @media(max-width:800px) {
    h1 {
      font-size: 2.2em;
    }
  }
  
  @media(max-width:736px) {
    .main-agileinfo {
      width: 62%;
    }
  }
  
  @media(max-width:667px) {
    .main-agileinfo {
      width: 67%;
    }
  }
  
  @media(max-width:600px) {
    .agileits-top {
      padding: 2.2em;
    }
  
    input.email, input.text.w3lpass {
      margin: 1.5em 0;
    }
  
    input[type="submit"] {
      margin: 2em 0;
    }
  
    h1 {
      font-size: 2em;
      letter-spacing: 3px;
    }
  }
  
  @media(max-width:568px) {
    .main-agileinfo {
      width: 75%;
    }
  
    .colorlibcopy-agile p {
      padding: 0 2em;
    }
  }
  
  @media(max-width:480px) {
    h1 {
      font-size: 1.8em;
      letter-spacing: 3px;
    }
  
    .agileits-top {
      padding: 1.8em;
    }
  
    input[type="text"], input[type="email"], input[type="password"] {
      width: 91%;
    }
  
    .agileits-top p {
      font-size: 0.9em;
    }
  }
  
  @media(max-width:414px) {
    h1 {
      font-size: 1.8em;
      letter-spacing: 2px;
    }
  
    .main-agileinfo {
      width: 85%;
      margin: 1.5em auto;
    }
  
    .text:focus, .text:valid {
      background-position: 0 0px;
    }
  
    .wthree-text ul li, .wthree-text ul li:nth-child(2) {
      display: block;
      float: none;
    }
  
    .wthree-text ul li:nth-child(2) {
      margin-top: 1.5em;
    }
  
    input[type="submit"] {
      margin: 2em 0 1.5em;
      letter-spacing: 3px;
    }
  
    input[type="submit"] {
      margin: 2em 0 1.5em;
    }
  
    .colorlibcopy-agile {
      margin: 1em 0 1em;
    }
  }
  
  @media(max-width:384px) {
    .main-agileinfo {
      width: 88%;
    }
  
    .colorlibcopy-agile p {
      padding: 0 1em;
    }
  }
  
  @media(max-width:375px) {
    .agileits-top p {
      letter-spacing: 0px;
    }
  }
  
  @media(max-width:320px) {
    .main-w3layouts {
      padding: 1.5em 0 0;
    }
  
    .agileits-top {
      padding: 1.2em;
    }
  
    .colorlibcopy-agile {
      margin: 0 0 1em;
    }
  
    input[type="text"], input[type="email"], input[type="password"] {
      width: 89.5%;
      font-size: 0.85em;
    }
  
    h1 {
      font-size: 1.7em;
      letter-spacing: 0px;
    }
  
    .main-agileinfo {
      width: 92%;
      margin: 1em auto;
    }
  
    .text:focus, .text:valid {
      background-position: 0 0px;
    }
  
    input[type="submit"] {
      margin: 1.5em 0;
      padding: 0.8em;
      font-size: .85em;
    }
  
    .colorlibcopy-agile p {
      font-size: .85em;
    }
  
    .wthree-text label {
      font-size: 0.85em;
    }
  
    .main-w3layouts {
      padding: 1em 0 0;
    }
  }